In [67]:
import pandas as pd
import json
import urllib3
import pycouchdb

In [68]:
df = pd.read_excel("./findings.xls")
df

,age,female,male,total,female_100k,male_100k,total_100k,year
0,0,20,17,37,102.280863,82.280625,92.005471,2017
1,1 - 4,172,213,385,237.966768,279.278334,259.180720,2017
2,5 - 9,83,170,253,104.281837,201.665520,154.372777,2017
3,10 - 14,52,105,157,73.694056,140.750670,108.155027,2017
4,15 - 19,103,148,251,144.925497,193.874610,170.274542,2017
...,...,...,...,...,...,...,...,...
205,75 - 79,2688,2996,5684,4505.531344,7121.802795,5587.393958,2008
206,80 - 84,1876,1781,3657,3875.392497,7863.829036,5146.644900,2008
207,85 - 89,1175,698,1873,3550.707120,6881.593217,4332.138314,2008
208,90 - 94,370,131,501,3070.794257,4685.264664,3374.873695,2008
209,95 und älter,145,41,186,1993.127148,1646.586345,1904.956985,2008

In [69]:
df.year.unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008])

In [72]:
# Connect to couchdb
urllib3.disable_warnings()

url = ""
server = pycouchdb.Server(url)
db = server.database("berlin_cancer")

In [73]:
server.info()["version"]

'3.1.1'

In [87]:
for year in df.year.unique():
    by_year = df[df.year == year]
    yearly_data = json.loads(by_year.to_json(orient="records"))
    
    # Remove year attribute    
    for agegroup in yearly_data:
        if agegroup["year"]:
            del agegroup["year"]
            
    dic = {str(year): yearly_data}        
    db.save(dic)